@import url(variables.css);
@import url(components.css);
@import url(layout.css);

@import url(header.css);
@import url(highlights.css);
@import url(most-read.css);
@import url(ai.css);
@import url(aside.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  overflow-x: clip;
}
body{
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family);
  overflow-x: hidden;
  overflow-wrap: anywhere;
}

img{
 display:block;
 max-width:100%;
}

a{
  text-decoration: none;
  color: inherit;
}
