.btn{
  --btn-bg-color:var(--text-color-primary);
  --btn-color:var(--background-color);

  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: .5rem;

  cursor: pointer;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);

}

.btn:hover{
  background: var(--brand-gradient);
  color: var(--background-color);
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.btn-sm{
  padding: .5rem 1rem;
  font: var(--btn-sm);
}

.btn-md{
  padding: .75rem 1.5rem;
  font: var(--btn-md);
}

.btn-lg{
  padding: 1rem 2rem;
  font: var(--btn-lg);
}

.btn[aria-label]{
  position: relative;

  &::before{
    content: "";
    position: absolute;
    border-radius: inherit;
    background-color: var(--background-color);
    inset: 1.5px;



  }

  &::after{
    content: attr(aria-label);

    display: block;
    font: inherit;
    color: var(--text-color-primary);
    position: relative;
    z-index: 1;
  }

  &:hover::after{
    background: var(--brand-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}