#priecing{
  --fs-price:2rem;


  & header{
    text-align: center;
    
  }

  & .cards{
    margin-top: 2rem;
  }

  & h3{
    margin-top: 0;
  }

  & .card p{
    margin-top: .25rem;
  }

  & zin-priecing{
    display: block;
    padding-block: 1.5rem;
    font-size:var( --fs-price);
    font-family: var( --font-family);
    font-weight: 500;
    color: var(--text-color-primary);
  }

  & zin-priecing small{
    font:var(--paragraph)
  }

  & .btn {
    width: 100%;
  }

  & .separator{
    height: 1px;
    margin-block: 2rem;
    background: radial-gradient(var(--text-color-secondary), var(--surface-color)70%);
  }

  & li{
    color: var(--text-color-secondary);
    background: url(../assets/icons/Check.svg) no-repeat;
    padding-left: 2rem;
  }

  & ul + small{
    display: block;
    margin-top: 1.5rem;
    font-size: .875rem;
    color: var(--text-color-secondary);

  }

  & .premium{
    position: relative;
    padding: 2px;
    background: var(--brand-gradient);
    border-radius: 1.5rem;

    & .card{    
      padding-top: 4.25rem;

      & > span{
        position: absolute;
        top: 0;
        left: 0;

        padding: .75rem 2rem;
        background: var(--brand-gradient);

        border-top-left-radius:1.5rem ;
        border-bottom-right-radius: 1.5rem;

        font:var(--span);
        font-weight: 600;
        letter-spacing:.08em ;
        color: var(--background-color);
      }

    }
    
    
  }


  @media (width>=80em){

    --fs-price:2.5rem;

    & .cards{
      grid-template-columns: repeat(3, 1fr);
    }

    & header{
      max-width: 50rem;
      margin-inline: auto;
      
    }

    & .premium .card{
      padding-bottom: 6rem;
    }

    & .card:nth-child(3) .separator{

      margin-block:1.5rem ;
    }

    
  }
}